<header class="header">
    <div class="container">
        <div class="navbar">
            <div class="nav-logo">
                <img class="logo-img" src="/static/images/app-icon.png" alt="">
                <h1 class="logo">College Trade Bazaar</h1>
            
            </div>
            <form action="/search" method="GET" class="search-form">
                <input type="text" name="query" placeholder="Search items..." required>
                <button type="submit">🔍</button>
            </form>
            <nav>
                <ul class="nav-links">
                    <li><a href="/home" class="active">Home</a></li>
                    <li><a href="/sell">Sell Item</a></li>
                    <li><a href="#about">About Us</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </nav>
            
        </div>
    </div>
</header>